{%  extends 'main/index.html' %}
{% block title %} {{ select }} {% endblock %}
{% block bodies %}

<h1>Всі статті по категорії : {{ select }}.</h1>
{% if category_posts %}
    {% for post in category_posts %}
        <h2> {{ post.title }}</h2><br>
        <p>{{ post.text_article }}</p>
        <ul>
            <li>Ім.я автора на сайті: {{ post.author }}</li>
            <li>Категорія: {{ post.category }}</li>
        </ul>
    {% endfor %}
{% else %}
    <p>Статтей на дану тему ще немає, але ви можете подивитись на інші <a href="{% url 'home' %}">статті.</a></p>
{% endif %}
{% endblock %}
